<html>
<title>
    چالش اعداد اول
</title>

<body style="direction: rtl;">
<div>
    <p>
        این چالش بیشتر برای دست‌گرمیه و اینکه شما اطمینان پیدا کنید که تونستید به درستی در مسابقه شرکت کنید.
        در این چالش به برنامه شما مسیر یک فایل ارسال میشه، در این فایل هر سطر حاوی یک عدده. برنامه شما باید به ازای هر
        خط در
        ورودی اگر عدد اول باشه عدد ۱ و در غیر این صورت عدد ۰ را بنویسید.

    </p>
    <p>
        برای مثال اگر فایل ورودی به این شکل باشد:
    </p>

</div>
<div style="direction: ltr; background-color: gray; width: 100px; text-align: left; float:left;">
    3
    <br>
    7
    <br>
    9
    <br>
    4
    <br>
    2
</div>
<div>
    <p>
        مقدار چاپ شده در خروجی باید به این شکل باشد:
    </p>
    <div style="direction: ltr; background-color: gray; width: 100px; text-align: left; float:left;">
        1
        <br>
        1
        <br>
        0
        <br>
        0
        <br>
        1
    </div>

    <p>
        برای شرکت در این چالش، پوشه‌ای با نام prime در repository خودتون ایجاد کنید و فایل‌های برنامه و Dockerfile رو
        داخل
        این
        پوشه قرار بدید.
    </p>
    <p>

        در این لینک میتونید پیاده‌سازی این برنامه و همینطور Dockerfile رو مشاهده کنید.
        https://github.com/soallpeach/sample/tree/master/prime
    </p>
</div>
</body>

</html>