.table-wraper {
  width: 40%;
  margin: 0 auto;
}
.table.table-striped.table-dark {
  box-shadow: 5px 10px 18px #888888;
}
.p1,
.p2 {
  font-size: 1.2rem;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: black;
  font-family: "Estedad";
}
.body {
  background-color: #e3e2df;
}
.header {
  margin-bottom: 30px;
  margin-top: 20px;
  color: #1f2605;
  font-family: "Estedad";
  font-weight: bold;
}

a.nav-link {
  color: #1f2605;
  font-weight: bold;
  font-size: 20px;
  font-family: "Estedad";
}
.inline-title {
  flex-flow: row;
  font-family: "Estedad";
  font-size: 25px;
  font-weight: bold;
  padding-right: 20px;
}
.nav-color {
  background-color: #4056a1;
}

@font-face {
  font-family: Estedad;
  src: url("/static/font/Estedad-Medium.woff2") format("woff2");
  font-weight: Normal;
}

@font-face {
  font-family: Estedad;
  src: url("/static/font/Estedad-Bold.woff2") format("woff2");
  font-weight: bold;
}
