<html>
<title>
    نحوه شرکت در چالش‌ها
</title>

<body style="direction: rtl;">

<p>
    برای شرکت در چالش کافی است که شما یک Git repository روی Github, Gitlab و یا هر سرویس‌دهنده دیگه‌ای که باهاش راحتید
    بسازید. تنها شرط اینه که repository باید به صورت public در دسترس باشه.

</p>
<p>
    اگر با Git آشنایی ندارید اولین چالش شما جست و جو در مورد نحوه ساختن یه Repository و همینطور نحوه استفده از Git خواهد
    بود. ‌با جست و جو توی اینترنت می‌تونید کلی مطالب مرتبط با این موضوع پیدا کنید.
</p>

<p>
    https://github.com/soallpeach/onboarding
    مرحله بعدی ساخت یک pull request به onboarding repository و معرفی repository هست که ساختید! برای این کار لازمه که به
    فایل participants.yml اطلاعات مربوط به خودتون رو اضافه کنید. مثال زیر نشون میده که هر entry چه فرمتی
    داره:

</p>
<p style="direction: ltr;white-space: pre-wrap;">
- nickname: soallpeach
  profile: https://github.com/soallpeach
  repository: https://github.com/soallpeach/sample
</p>


<p>
    بعد از اینکه repository رو ایجاد کردید برای هر کدام از چالش‌های سوال‌پیچ نیازه که شما یک پوشه داخل repository خودتون
    ایجاد کنید. برای مثل اگر اسم چالش prime باشه شما می‌بایست یک پوشه با این نام داخل repository خودتون ایجاد کنید.


    داخل پوشه هرچالش تمام فایل‌هایی که پروژه شما برای اجرا نیاز داره رو باید قرار بدید. مواردی مثل خود کد شما، تنظیمات
    build tools (اگر استفاده می‌کنید)، تست‌ها و …
</p>

<p>

    در کنار این‌ها شما نیاز دارید که یک فایل Dockerfile هم ایجاد کنید که کارش ساخت یک ایمیج از برنامه شما است. سوال‌پیچ
    با استفاده از این فایل از پروژه شما یک ایمیج میسازه و اون رو اجرا میکنه تا چک کنه که آیا برنامه شما با توجه به
    ورودی‌ها درست عمل میکنه یا خیر!
</p>

<p>
    در هر چالش توضیح داده شده که ورودی‌ها به چه شکل باید توسط برناهه گرفته بشن. مثلا ممکنه ورودی که فایل باشه، یک رشته
    باشه که از طریق stdin به برنامه شما ارسال میشه و یا مجموعه‌ای از درخواست‌های http باشه که به برنامه شما ارسال میشه.
</p>
<p>
    برای شروع توضیحات اولین چالش سوال‌پیچ رو که در مورد اعداد اوله رو از اینجا بخونید و در چالش شرکت کنید، با هم میتونیم
    کلی چیز جدید یاد بگیریم و از زمانی که داریم استفاده مناسب بکنیم :)‌
</p>
</body>

</html>