{% load static %}
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163519040-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-163519040-1');
    </script>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Latest Scores</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Amiri&display=swap"
            rel="stylesheet"
    />
</head>


<body class="body">
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar nav-color sticky-top">
    <span class="navbar-brand navbar-text inline-title text-white p-2">سوال پیچ </span>
    <ul class="navbar-nav ml-md-auto flex-row-reverse">
        <li class="nav-item ">
            <a class="nav-link  active" href="/">خانه </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="participation">
                شرکت در چالش
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/challenges/prime">چالش اول</a>
        </li>
    </ul>
</header>

<h1 class="header  text-center font-weight-bold">سوال‌پیچ</h1>
<p class="paragraph-center text-center"> سوال‌پیچ یه پروژه است برای تمرین و مسابقه برنامه‌نویسی! بزرگ‌ترین تفاوت
    سوال‌پیچ با بقیه مسابقات اینه که تو
    سوال‌پیچ تمرکز شما فقط روی نوشتن یک تابع یا الگوریتم نیست. چالش‌های سوال‌پیچ شما رو با جنبه‌های مختلف یک پروژه
    واقعی مثل استفاده از ابزارهای بیلد و دیپلوی و کار تیمی آشنا میکنه، و همینطور با چالش‌های سعی میکنه شما رو با
    مواردی چون کار با IO و پروتکل‌های شبکه مختلف درگیر کنه.
</p>
<h2 class="header text-center font-weight-bold">سوال‌پیچ چی نیست؟</h2>
<p class="paragraph-center text-center">
    سوال‌پیچ پلتفرم آموزشی صرف نیست! در سوال‌پیچ کسی به طور مستقیم چیزی به
    شما یاد نمیده، در سوال‌پیچ فقط چالش‌ها مطرح میشن و شرکت‌کننده‌ها سعی
    میکنن برنامه‌ای بنویسن که چالش رو حل کنه. شما به کد‌ تمام شرکت‌کننده‌ها
    دسترسی دارید و میتونید اونها رو توی اینترنت پیدا کنید و بخونید تا بیشتر
    با راه‌حل و زبانی که استفاده شده آشنا بشید. پس اگر خودتون بخواید و
    مشارکت زیاد باشه احتمالا خیلی چیزها یاد میگیرید. همینطور تو توییتر
    میتونید با هشتگ
    <a href="https://twitter.com/search?q=%23%D8%B3%D9%88%D8%A7%D9%84_%D9%BE%DB%8C%DA%86&src=typed_query">
        #سوال_پیچ
    </a>
    در مورد چالش‌ها صحبت کنید و با دوستانتون
    همفکری کنید. سوال‌پیچ تازه اول راهشه و نیاز به حمایت و نظرات و انتقادات
    شما داره. پس حتما اونا رو با ما در میون بذارید تا بتونیم پروژه‌ آزاد
    موفق رو با کمک همدیگه پیش ببریم.
</p>
</div>
<br/>
<p class="paragraph-center text-center" style="color: indigo">
    این جدول آخرین بار،

    <b>
        {{ time_passed_from_last_run }}
        دقیقه
    </b>
    گذشته بروزرسانی شده است.
</p>

<div class="table-wraper  table-responsive-sm">
    <table class="table table-striped table-dark table-hover">
        <thead>
        <tr class="bg-danger">
            <th scope="col">#</th>
            <th scope="col">Nickname</th>
            <th scope="col">Status</th>
            <th scope="col">Seconds</th>
        </tr>
        </thead>

        <tbody>
        {% for score in scores %}
            <tr>
                <td>{{ forloop.counter }} </td>
                <td>
                    {{ score.nickname }}
                </td>
                <td>
                    {{ score.state }}
                </td>
                <td>
                    {% if score.state == 'FAILED' %}
                        {{ score.result.message }}
                    {% elif score.state == 'PASSED' %}
                        {{ score.result.run_result.duration }}
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
