<html>
<head>
    <title>Latest Scores</title>
</head>

<a href="challenges/prime">چالش اعداد اول</a>
<div style="direction: rtl;">
    <h1>
        #سوال_پیچ
    </h1>

    <p>
        سوال‌پیچ یه پروژه است برای تمرین و مسابقه برنامه‌نویسی! بزرگ‌ترین تفاوت سوال‌پیچ با بقیه مسابقات اینه که تو
        سوال‌پیچ تمرکز شما فقط روی نوشتن یک تابع یا الگوریتم نیست. چالش‌های سوال‌پیچ شما رو با جنبه‌های مختلف یک پروژه
        واقعی مثل استفاده از ابزارهای بیلد و دیپلوی و کار تیمی آشنا میکنه، و همینطور با چالش‌های سعی میکنه شما رو با
        مواردی چون کار با IO و پروتکل‌های شبکه مختلف درگیر کنه.
    </p>

    <h2>
        سوال‌پیچ چی نیست؟
    </h2>

    <p>
        سوال‌پیچ پلتفرم آموزشی صرف نیست! در سوال‌پیچ کسی به طور مستقیم چیزی به شما یاد نمیده، در سوال‌پیچ فقط چالش‌ها
        مطرح میشن و شرکت‌کننده‌ها سعی میکنن برنامه‌ای بنویسن که چالش رو حل کنه. شما به کد‌ تمام شرکت‌کننده‌ها دسترسی
        دارید و میتونید اونها رو توی اینترنت پیدا کنید و بخونید تا بیشتر با راه‌حل و زبانی که استفاده شده آشنا بشید. پس
        اگر خودتون بخواید و مشارکت زیاد باشه احتمالا خیلی چیزها یاد میگیرید.
        همینطور تو توییتر میتونید با هشتگ #سوال_پیچ در مورد چالش‌ها صحبت کنید و با دوستانتون همفکری کنید.

        سوال‌پیچ تازه اول راهشه و نیاز به حمایت و نظرات و انتقادات شما داره. پس حتما اونا رو با ما در میون بذارید تا
        بتونیم پروژه‌ آزاد موفق رو با کمک همدیگه پیش ببریم.
    </p>
</div>


<table>
    <thead>
    <th>
        Nickname
    </th>
    <th>
        State
    </th>
    <th>
        Seconds
    </th>
    </thead>
    {% for score in scores %}
        <tr>
            <td>
                {{ score.nickname }}
            </td>
            <td>
                {{ score.state }}
            </td>
            <td>
                {% if score.state == 'FAILED' %}
                    {{ score.result.message }}
                {% elif score.state == 'PASSED' %}
                    {{ score.result.run_result.duration }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
</html>
