<html>
<head>
    <title>Latest Scores</title>
</head>
<table>
    <thead></thead>
    {% for score in scores %}
        <tr>
            <td>
                {{ score.nickname }}
            </td>
            <td>
                {{ score.state }}
            </td>
            <td>
                {% if score.state == 'FAILED' %}
                    {{ score.result.message }}
                {% elif score.state == 'PASSED' %}
                    {{ score.result.run_result.duration }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
</html>
